
@media print {
    .no-print { display: none; }
}
.margentop {
  margin-top: 10px;
}
.paddinglado {
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

#d-note {
  border: solid black 2px;
  margin: 1em;
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
 }


#myInput {
  /*background-image: url('/css/searchicon.png'); /* Add a search icon to input */ 
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.notification {
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
}

.notificationAlert {
  background-color: red !important;
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
}

.notificationSuccess {
  background-color: green !important;
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
}

#selector {
  border: solid #212529 2px;
  border-radius: 6px 6px 0px 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding:0%;
  margin: 0%;
}
