.mainTar {
    width: 90%;
}
#botonera {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
}
.inputBoxCant{
    width: 30px;
}
.floating-menu {
    font-family: sans-serif;
    background: rgb(157, 165, 141);
    padding: 5px;;
    width: 130px;
    z-index: 100;
    position: fixed;
    bottom: 30px;
    right: 30px;
  }

  .floating-menu a, 
  .floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: white;
  }