.mainTar {
    width: 90%;
}
#botonera {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
}
.inputBoxCant{
    width: 68%;
}
.btn-menos{
    width: 15%;
}
.btn-mas{
    width: 15%;
}
